.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/home-page-header.jpg);
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/blog-section-img.jpg);
    background-size: cover;
    background-position: center;
}


.header-slider {
    position: relative;
    overflow: hidden;
}

.header-slider h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-slider p {
    font-size: 1.25rem;
    max-width: 600px;
}

.header-slider .btn {
    margin-top: 1rem;
}